{% extends 'base.html' %}
{% load static %}
{% block title %}Kirim chiqimlar.{% endblock %}
{% block style %}


    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css' %}">
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'vendors/flatpickr/flatpickr.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    <script src="https://jsuites.net/v5/jsuites.js"></script>


    <style>
        /* Loader styles */
        #loader {
            display: none; /* Hidden by default */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            color: #000;
        }
    </style>
    <style>
        /* Change the height of the Select2 input */
        .select2-container .select2-selection--single {
            height: 38px; /* Set the desired height */
        }

        /* Adjust the padding to center the text */
        .select2-container .select2-selection--single .select2-selection__rendered {
            line-height: 36px; /* Match this to the height for vertical alignment */
        }

        .select2-container .select2-selection--single .select2-selection__arrow {
            height: 36px; /* Adjust for arrow height */
        }
    </style>
{% endblock %}
{% block main %}
    <div class="card mb-3" id="customersTable"
         data-list='{"valueNames":["name","email","phone","address","joined"],"page":1,"pagination":true}'>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div id="statisticDiv" class="col px-3 text-center border-end-md   p-xxl-0 ps-md-0">
                        <h4 class="mb-1 font-sans-serif">
                            <span style="font-size: 20px" class="fw-normal text-600">Kirim:</span>
                            <span style="font-size: 20px" class="text-700 mx-2" data-countup='{"endValue":"{{ statistics.all.income_total }}"}'>0</span>
                        </h4>
                        <p class="fs-10 fw-semi-bold mb-0"><span
                                class="text-600 fw-normal">Chiqim:</span> {{ statistics.all.expense_total }} so'm</p>
                    </div>
                    <div class="col px-3 text-center border-end-xxl pt-4 pt-md-0 pe-md-0 p-xxl-0">

                        <h4 class="mb-1 font-sans-serif">
                            <span style="font-size: 20px"  class="fw-normal text-600">Bugungi kirim:</span>
                            <span style="font-size: 20px"  class="text-700 mx-2"
                                  data-countup='{"endValue":"{{ statistics.today.income_total }}"}'>0</span>
                        </h4>
                        <p class="fs-10 fw-semi-bold mb-0"><span
                                class="text-600 fw-normal">Bugungi chiqim:</span> {{ statistics.today.expense_total }}
                            so'm
                        </p>
                    </div>
                    <div class="col px-3 text-center ">
                        <h4 class="mb-1 font-sans-serif">
                            <span style="font-size: 20px"  class="fw-normal text-600">Bu oydagi kirim:</span>
                            <span style="font-size: 20px"  class="text-700 mx-2"
                                  data-countup='{"endValue":"{{ statistics.the_month.income_total }}"}'>0</span>
                        </h4>
                        <p class="fs-10 fw-semi-bold mb-0"><span
                                class="text-600 fw-normal">Bu oydagi chiqim:</span> {{ statistics.the_month.expense_total }}
                            so'm
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header">

            <div class="row flex-between-center">
                <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                    <h5 class="fs-9 mb-0 text-nowrap py-2 py-xl-0">Kirim chiqimlar.</h5>
                </div>

                <div class="col-4 col-sm-auto text-end ">
                    <div id="table-customers-replace-element">
                        <select id="transfer_method" name="transfer_method" aria-label="transfer_method"
                                class="form-select" onchange="useFilter()">
                            <option selected value="null">To'lov turi.</option>
                            <option value="cash">Naqd</option>
                            <option value="card">Kartadan kartaga.</option>
                            <option value="transfer_to_card">Terminal orqali.
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4 col-sm-auto text-end ">
                    <div id="table-customers-replace-element">
                        <select id="transfer_type" name="transfer_type" onchange="useFilter()"
                                class="form-select" aria-label="transfer_method">
                            <option selected value="null">O'tkazma turi.</option>
                            <option value="income">Kirim</option>
                            <option value="expense">Chiqim</option>
                        </select>
                    </div>
                </div>
                <div class="col-4 col-sm-auto text-end ">
                    <div id="table-customers-replace-element">
                        <input class="form-control datetimepicker"
                               onchange="useFilter()"
                               id="timepicker3" type="text"
                               placeholder="kun/oy/yil dan kun/oy/yil gacha"
                               data-options='{"mode":"range","dateFormat":"d/m/y","disableMobile":true,"position":"below","predefinedRanges":[{"today": "Bugun"},{"last_7_days":"Oxirgi hafta"},{"last_month": "O`tganoy oy"}]}'
                        />
                    </div>
                </div>
                <div class="col-4 col-sm-auto text-end ">
                    <div id="table-customers-replace-element">
                        <button class="btn btn-falcon-success btn-sm" type="button" data-bs-toggle="modal"
                                data-bs-target="#createObject">
                            <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                            <span class="d-none d-sm-inline-block ms-1">Qo'shish</span>
                        </button>
                    </div>
                </div>
                <div id="alertDiv" class="mt-3"></div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive scrollbar">
                <table id=data-table class="table table-sm table-striped fs-10 mb-0 overflow-hidden">
                    <thead class="bg-200">
                    <tr>
                        <th class="no-sort pe-1 align-middle white-space-nowrap text-center">Ma'lumot</th>
                        <th class="no-sort pe-1 align-middle white-space-nowrap text-center">O'tkazma turi.</th>
                        <th class="no-sort pe-1 align-middle white-space-nowrap text-center">To'lov turi.</th>
                        <th class="no-sort pe-1 align-middle white-space-nowrap text-center">Qiymati.</th>
                        <th class="no-sort pe-1 align-middle white-space-nowrap text-center">Yaratilgan vaht.</th>
                    </tr>
                    </thead>
                    <tbody class="list" id="table-customers-body">

                    </tbody>
                </table>
            </div>
        </div>
        <div id="pagination-controls" class="card-footer d-flex align-items-center justify-content-center">
            {#            <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous"#}
            {#                    data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>#}

            {#                <li class="active">#}
            {#                    <button class="page" type="button" data-i="1" data-page="1">1</button>#}
            {#                </li>#}
            {#                <li>#}
            {#                    <button class="page" type="button" data-i="2" data-page="1">2</button>#}
            {#                </li>#}

            {#            <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next">#}
            {#                <span class="fas fa-chevron-right"></span></button>#}
        </div>
    </div>
    <div>

        {#        <div>#}
        {#            <input type="text" id="search-term" placeholder="Search..."/>#}
        {#        </div>#}

        <!-- Loader -->
        <div id="loader" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

        <!-- Pagination Controls -->
        <div id="pagination-controls">
            <!-- Pagination links will be dynamically added here -->
        </div>


    </div>
    {% include 'transfers/create_modal.html' %}

{% endblock %}
{% block script %}
    <script>
        var csrfToken = '{{ csrf_token }}';  // Pass the CSRF token to JS
        var getTransfersListUrl = "{% url 'web:transfers:list-api' %}";  // Pass the URL to JS
        var getStatisticUrl = "{% url 'web:transfers:statistic-api' %}";  // Pass the URL to JS
        var createTransferUrl = "{% url 'web:transfers:create-api' %}";  // Pass the URL to JS
    </script>
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendors/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'vendors/inputmask/inputmask.min.js' %}"></script>
    <script src="{% static 'assets/js/custom/transfers/list.js' %}"></script>
    <script src="{% static 'assets/js/custom/base/datepicker.js' %}"></script>
    <script src="{% static 'assets/js/custom/utils/price-utils.js' %}"></script>
    <script src="{% static 'assets/js/custom/transfers/create.js' %}"></script>
    <script src="{% static 'vendors/countup/countUp.umd.js' %}"></script>

{% endblock %}