{% extends 'base.html' %}
{% load static %}
{% block title %}Muolajalar ro'yxati.{% endblock %}
{% block style %}
    <style>
        /* Loader styles */
        #loader {
            display: none; /* Hidden by default */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            color: #000;
        }
    </style>
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css' %}">
    {#    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet"/>#}
    {#    <script src="{% static 'vendors/flatpickr/flatpickr.min.js' %}"></script>#}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    <script src="https://jsuites.net/v5/jsuites.js"></script>


    <style>
        /* Change the height of the Select2 input */
        .select2-container .select2-selection--single {
            height: 38px; /* Set the desired height */
        }

        /* Adjust the padding to center the text */
        .select2-container .select2-selection--single .select2-selection__rendered {
            line-height: 36px; /* Match this to the height for vertical alignment */
        }

        .select2-container .select2-selection--single .select2-selection__arrow {
            height: 36px; /* Adjust for arrow height */
        }
    </style>
{% endblock %}
{% block main %}
    <div class="card mb-3" id="customersTable"
         data-list='{"valueNames":["name","email","phone","address","joined"],"page":1,"pagination":true}'>
        <div class="card-header">
            <div class="row flex-between-center">
                <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                    <h5 class="fs-9 mb-0 text-nowrap py-2 py-xl-0">Muolajalar.</h5>
                </div>
                <div class="search-box" style="width: 30%">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                        <input id="search-term" class="form-control search-input fuzzy-search" type="search"
                               placeholder="Mijozlar ismi va familyasi bo'yicha qidiruv..." aria-label="Search">

                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                    <div class="btn-close-falcon-container position-absolute end-0 top-50 translate-middle shadow-none"
                         data-bs-dismiss="search">
                        <button class="btn btn-link btn-close-falcon p-0" aria-label="Close"></button>
                    </div>
                </div>
                <div class="col-8 col-sm-auto text-end ps-2">
                    <div id="table-customers-replace-element">
                        <button class="btn btn-falcon-success btn-sm" type="button" data-bs-toggle="modal"
                                data-bs-target="#createObject" onclick="getBillingData()">
                            <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                            <span class="d-none d-sm-inline-block ms-1">Muolaja qo'shish</span>
                        </button>
                        {#                        <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-plus"#}
                        {#                                                                                          data-fa-transform="shrink-3 down-2"></span><span#}
                        {#                                class="d-none d-sm-inline-block ms-1">New</span></button>#}
                        {##}
                        {#                        <button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter"#}
                        {#                                                                                               data-fa-transform="shrink-3 down-2"></span><span#}
                        {#                                class="d-none d-sm-inline-block ms-1">Filter</span></button>#}
                        {#                        <button class="btn btn-falcon-default btn-sm" type="button"><span#}
                        {#                                class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span#}
                        {#                                class="d-none d-sm-inline-block ms-1">Export</span></button>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive scrollbar">
                <table id=data-table class="table table-sm table-striped fs-10 mb-0 overflow-hidden">
                    <thead class="bg-200">
                    <tr>
                        <th class="text-900 no-sort pe-1 align-middle white-space-nowrap" data-sort="id">ID-raqam</th>
                        <th class="text-900 no-sort pe-1 align-middle white-space-nowrap" data-sort="name">Ism va
                            familiya
                        </th>
                        <th class="text-900 no-sort pe-1 align-middle white-space-nowrap" data-sort="phone">Telefon
                            raqami
                        </th>
                        <th class="text-900 no-sort pe-1 align-middle white-space-nowrap" data-sort="procedure_type">
                            Muolaja turi.
                        </th>
                        <th class="text-900 no-sort pe-1 align-middle white-space-nowrap" data-sort="address">Tavsiya
                            etilgan<br>muolajalar soni
                        </th>
                        <th class="text-900 no-sort pe-1 align-middle white-space-nowrap" data-sort="address">Qabul
                            qilingan<br>muolajalar soni
                        <th class="text-900 no-sort pe-1 align-middle white-space-nowrap" data-sort="address">
                            Muolaja<br>boshlangan vaht
                        </th>
                        <th class="text-900 no-sort pe-1 align-middle white-space-nowrap" style="max-width: 60px"
                            data-sort="joined">Muolaja holati.
                        </th>
                    </tr>
                    </thead>
                    <tbody class="list" id="table-customers-body">

                    </tbody>
                </table>
            </div>
        </div>
        <div id="pagination-controls" class="card-footer d-flex align-items-center justify-content-center">
        </div>
    </div>
    <div>


        <!-- Loader -->
        <div id="loader" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

        <!-- Pagination Controls -->
        <div id="pagination-controls">
            <!-- Pagination links will be dynamically added here -->
        </div>


    </div>


    <div class="modal fade" id="createObject" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1"
         aria-labelledby="createObjectLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg mt-6" role="document" style="width: 90%; max-width: 100%">
            <div class="modal-content border-0">
                <div class="position-absolute top-0 end-0 mt-3 me-3 z-1">
                    <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">

                    {#                    <div class="rounded-top-3 bg-body-tertiary py-3 ps-4 pe-6">#}
                    {#                        <h4 class="mb-1" id="createObjectLabel">Muolaja qo'shish.</h4>#}
                    {#                        <p class="fs-11 mb-0">Muaolaja to'g'risidagi ma'lumotarni to'ldirish.</p>#}
                    {#                    </div>#}
                    <div class="p-4">
                        <div class="row">
                            <div class="  h-100">
                                <div class="d-flex mb-4">
                                    <span class="fa-stack me-2 ms-n1"><i
                                            class="fas fa-circle fa-stack-2x text-300"></i><i
                                            class="fa-inverse fa-stack-1x text-primary fas fa-spinner"></i></span>
                                    <div class="col">
                                        <h5 class="mb-0 text-primary position-relative"><span
                                                class="bg-200 dark__bg-1100 pe-3">Muolaja qo'shish</span><span
                                                class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
                                        </h5>
                                        <p class="mb-0">Mijozni tanlang yoki yangidan yarating.</p>
                                    </div>
                                </div>
                                <div id="errorDiv">

                                </div>

                                <div class="card mb-5">
                                    <div class="card-header bg-body-tertiary pt-3 pb-2">
                                        <div style="min-width: 80%; display: flex; justify-content: center;">
                                            <ul style="width: 60%; background-color: #ededed"
                                                class="nav rounded-pill nav-pills mb-3 justify-content-between nav-wizard"
                                                role="tablist" id="pill-tab2">
                                                <li class="nav-item" role="presentation" style="width: 33%">
                                                    <button class="nav-link active" data-wizard-step="1"
                                                            style="width: 100%"
                                                            data-bs-toggle="pill"
                                                            data-bs-target="#form-wizard-progress-tab1" type="button"
                                                            role="tab" aria-controls="form-wizard-progress-tab1"
                                                            id="navbar-button-1"
                                                            aria-selected="true">
                                                        <span class="fas fa-user me-2"
                                                              data-fa-transform="shrink-2"></span>
                                                        <span class="d-none d-md-inline-block fs-10">Mijoz ma'lumotlari</span>
                                                    </button>
                                                </li>
                                                <li class="nav-item" role="presentation" style="width: 33%">
                                                    <button class="nav-link" data-wizard-step="2" data-bs-toggle="pill"
                                                            style="width: 100%"
                                                            data-bs-target="#form-wizard-progress-tab2" type="button"
                                                            role="tab" aria-controls="form-wizard-progress-tab2"
                                                            id="navbar-button-2"
                                                            aria-selected="false">
                                                        <span class="fas fa-file-alt me-2"
                                                              data-fa-transform="shrink-2"></span>
                                                        <span class="d-none d-md-inline-block fs-10">Muolaja</span>
                                                    </button>
                                                </li>
                                                <li class="nav-item" role="presentation" style="width: 33%">
                                                    <button class="nav-link" data-wizard-step="3" data-bs-toggle="pill"
                                                            style="width: 100%"
                                                            data-bs-target="#form-wizard-progress-tab3" type="button"
                                                            role="tab" aria-controls="form-wizard-progress-tab3"
                                                            id="navbar-button-3"
                                                            aria-selected="false">
                                                        <span class="fas fa-dollar-sign me-2"
                                                              data-fa-transform="down-2 shrink-2"></span>
                                                        <span class="d-none d-md-inline-block fs-10">To'lov</span>
                                                    </button>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="card-body py-3">
                                        <div class="tab-content">
                                            <div class="tab-pane active px-sm-3 px-md-5" role="tabpanel"
                                                 aria-labelledby="form-wizard-progress-tab1"
                                                 id="form-wizard-progress-tab1">
                                                <form novalidate="novalidate"
                                                      data-wizard-form="1" id="first-form">
                                                    <label class="form-label"
                                                           for="bootstrap-wizard-wizard-select-name">Mijozni
                                                        tanlash</label>
                                                    {#                                                    <input type="hidden" name="exist_user_id">#}
                                                    <div class="mb-3 input-group" style="flex-wrap: nowrap">
                                                        <select id="bootstrap-wizard-wizard-select-name"
                                                                name="exist_user_id"
                                                                class="form-control client-select-generator"></select>
                                                        <button class="input-group-text" id="clear_client"
                                                                type="button"><span
                                                                class="fas fa-trash-alt fs-9"></span></button>
                                                    </div>
                                                    <div class="row g-2">
                                                        <div class="col">
                                                            <div class="mb-3">

                                                                <label class="form-label" for="last_name">Mijozni
                                                                    Familyasi</label>
                                                                <input class="form-control"
                                                                       placeholder="Familya"
                                                                       name="last_name" type="text"
                                                                       id="last_name"/>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="first_name">Mijozni
                                                                    Ismi</label>
                                                                <input class="form-control" placeholder="Ism"
                                                                       type="text" name="first_name"
                                                                       id="first_name"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row g-2">
                                                        <div class="col">
                                                            <label class="form-label" for="phone_number">Telefon
                                                                raqam:</label>
                                                            <div class="col-12 mb-3 input-group">
                                                                <span class="input-group-text">+998</span>
                                                                <input class="form-control" id="phone_number"
                                                                       required="required" name="phone_number"
                                                                       data-input-mask='{"mask":"(99) 999 99 99"}'
                                                                       placeholder="(XX) XXX XX XX" type="tel"/>
                                                                <div class="invalid-feedback">Telefon raqamni kiritish
                                                                    shart.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="date_of_birth">Tug'ilgan
                                                                    sana1</label>
                                                                <input class="form-control "
                                                                       id="date_of_birth" type="text"
                                                                       name="date_of_birth"
                                                                       data-input-mask='{"alias":"datetime","inputFormat":"dd/mm/yyyy"}'
                                                                       placeholder="DD/MM/YYYY"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label" for="address">Manzil</label>
                                                        <input
                                                                class="form-control" type="text" name="address"
                                                                placeholder="Manzil"
                                                                id="address"/>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label class="form-label" for="workplace">Ish joyi</label>
                                                        <input
                                                                class="form-control" type="text" name="workplace"
                                                                placeholder="Ish joyi"
                                                                id="workplace"/>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label class="form-label" for="diagnosis">Tashxis</label>
                                                        <textarea
                                                                class="form-control" type="text" name="diagnosis"
                                                                placeholder="Tashxis"
                                                                id="diagnosis"></textarea>
                                                    </div>


                                                </form>
                                                <div class="bg-body-tertiary rounded-pill">
                                                    <div class="px-sm-3 px-md-5">
                                                        <ul class="pager wizard list-inline mb-0 d-flex justify-content-between">
                                                            <li class="previous">

                                                            </li>
                                                            <li class="next">
                                                                <button class="btn btn-primary px-5 px-sm-6"
                                                                        onclick="changeTab(2)"
                                                                        data-bs-target="#form-wizard-progress-tab2">
                                                                    Keyingi<span class="fas fa-chevron-right ms-2"
                                                                                 data-fa-transform="shrink-3"> </span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane px-sm-3 px-md-5" role="tabpanel"
                                                 aria-labelledby="form-wizard-progress-tab2"
                                                 id="form-wizard-progress-tab2">
                                                <form id="second-form" data-wizard-form="2">
                                                    <label class="form-label"
                                                           for="referral_person">Hamkor shifokorni tanlash.</label>
                                                    <div class="input-group mb-3" style="flex-wrap: nowrap">

                                                        <select id="referral_person" name="referral_person"
                                                                class="form-control js-data-referral-persons"></select>
                                                        <button class="input-group-text" id="clear_referral"
                                                                type="button"><span
                                                                class="fas fa-trash-alt fs-9"></span></button>
                                                    </div>
                                                    <div class="row g-2" style="margin-top: 0">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label"
                                                                       for="number_of_recommended_treatments">Tavsiya
                                                                    qilingan muolajalar soni.</label>
                                                                <input class="form-control" required="required"
                                                                       type="number" value="3"
                                                                       name="number_of_recommended_treatments"
                                                                       id="number_of_recommended_treatments"
                                                                       onchange="getBillingData()"
                                                                />
                                                                <div class="invalid-feedback">Muolajalar sonini kiritish
                                                                    shart
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label"
                                                                       for="procedure-type-select">Muolaja turi</label>
                                                                <div class="mb-3 input-group" style="flex-wrap: nowrap">
                                                                    <select id="procedure-type-select" class="form-control" required="required" name="procedure_type" >
                                                                        {% for procedure_type in procedure_types %}
                                                                            <option value="{{ procedure_type.id }}"
                                                                                    {% if forloop.first %}
                                                                                    selected {% endif %}>{{ procedure_type.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
{#                                                                                                                                        <select id="procedure-type-select"#}
{#                                                                                                                                                required="required" name="procedure_type"#}
{#                                                                                                                                                class="form-control js-data-procedure-types"></select>#}
{#                                                                                                                                        <button class="input-group-text" type="button"#}
                                                                    {#                                                                            id="clear-procedure-type"><span#}
                                                                    {#                                                                            class="fas fa-trash-alt fs-9"></span>#}
                                                                    {#                                                                    </button>#}
                                                                    <br>
                                                                    <div class="invalid-feedback">Muolaja turini tanlang
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label"
                                                               for="description">Qo'shimcha ma'lumot</label>
                                                        <textarea
                                                                class="form-control" rows="4" name="description"
                                                                id="description"></textarea>
                                                    </div>
                                                </form>
                                                <div class="bg-body-tertiary rounded-pill">
                                                    <div class="px-sm-3 px-md-5">
                                                        <ul class="pager wizard list-inline mb-0 d-flex justify-content-between">
                                                            <li class="previous">
                                                                <button class="btn btn-link ps-0" type="button"
                                                                        onclick="changeTab(1)">
                                                                    <span class="fas fa-chevron-left me-2"
                                                                          data-fa-transform="shrink-3"></span>Oldingi
                                                                </button>
                                                            </li>
                                                            <li class="next">
                                                                <button class="btn btn-primary px-5 px-sm-6"
                                                                        onclick="changeTab(3)"
                                                                        type="submit">
                                                                    Keyingi<span class="fas fa-chevron-right ms-2"
                                                                                 data-fa-transform="shrink-3"> </span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane px-sm-3 px-md-5" role="tabpanel"
                                                 aria-labelledby="form-wizard-progress-tab3"
                                                 id="form-wizard-progress-tab3">
                                                <form id="third-form" class="form-validation" data-wizard-form="3">
                                                    <div class="row g-2">
                                                        <div class="col">
                                                            <div class="card mb-3">
                                                                <div class="card-body">
                                                                    <div class="table-responsive fs-10">
                                                                        <table class="table table-striped border-bottom">
                                                                            <thead class="bg-200">
                                                                            <tr>
                                                                                <th class="text-900 border-0">Nomi</th>
                                                                                <th class="text-900 border-0 text-end">
                                                                                    Qiymati.
                                                                                </th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody id="payment-table">

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="row g-0 justify-content-end">
                                                                        <div class="col-auto">
                                                                            <table class="table table-sm table-borderless fs-10 text-end">
                                                                                <tr>
                                                                                    <th class="text-900">Umumiy
                                                                                        to'lov:
                                                                                    </th>
                                                                                    <td class="fw-semi-bold"
                                                                                        id="total-price"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="text-900">Chegirma:</th>
                                                                                    <td class="fw-semi-bold"
                                                                                        id="billing-discount"></td>
                                                                                </tr>
                                                                                <tr class="border-top">
                                                                                    <th class="text-900">To'langan:</th>
                                                                                    <td class="fw-semi-bold"
                                                                                        id="paid"></td>
                                                                                </tr>
                                                                                <tr class="border-top">
                                                                                    <th class="text-900">To'lanishi
                                                                                        kerag:
                                                                                    </th>
                                                                                    <td class="fw-semi-bold"
                                                                                        id="need-paid"></td>
                                                                                </tr>
                                                                            </table>
                                                                            <input type="hidden" id="need-paid-hidden">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label for="cash-pay">Naqd pul orqali to'lov.</label>
                                                                <input
                                                                        class="form-control"
                                                                        id="cash-pay"
                                                                        data-mask="# ##0,00"
                                                                        name="cash_pay"
                                                                        type="tel"
                                                                        autocomplete="off"
                                                                        value="0"
                                                                        onchange="getBillingData()"
                                                                />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="card-pay">Terminal orqali to'lov.</label>
                                                                <input
                                                                        class="form-control"
                                                                        id="card-pay"
                                                                        data-mask="# ##0,00"
                                                                        name="card_pay"
                                                                        type="tel"
                                                                        autocomplete="off"
                                                                        value="0"
                                                                        onchange="getBillingData()"
                                                                />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="card-transfer-pay">Kartadan pul o'tkazish
                                                                    orqali to'lov.</label>
                                                                <input
                                                                        class="form-control"
                                                                        id="card-transfer-pay"
                                                                        data-mask="# ##0,00"
                                                                        name="card_transfer_pay"
                                                                        type="tel"
                                                                        autocomplete="off"
                                                                        value="0"
                                                                        onchange="getBillingData()"
                                                                />
                                                            </div>
                                                            <div class="mb-3 ">
                                                                <label for="discount-input"
                                                                       style="color: rgb(0, 210, 122)">Chegirma.</label>
                                                                <input
                                                                        data-mask="# ##0,00"
                                                                        class="form-control"
                                                                        id="discount-input"
                                                                        name="discount"
                                                                        type="tel"
                                                                        autocomplete="off"
                                                                        value="0"
                                                                        onchange="getBillingData()"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="bg-body-tertiary rounded-pill">
                                                    <div class="px-sm-3 px-md-5">
                                                        <ul class="pager wizard list-inline mb-0 d-flex justify-content-between">
                                                            <li class="previous">
                                                                <button class="btn btn-link ps-0" type="button"
                                                                        onclick="changeTab(2)">
                                                                    <span class="fas fa-chevron-left me-2"
                                                                          data-fa-transform="shrink-3"></span>Oldingi
                                                                </button>
                                                            </li>
                                                            <li class="next">
                                                                <button class="btn btn-success px-5 px-sm-6"
                                                                        type="submit" onclick="saveProcedure()">
                                                                    Saqlash<span class="fas fa-chevron-right ms-2"
                                                                                 data-fa-transform="shrink-3"> </span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        var csrfToken = '{{ csrf_token }}';  // Pass the CSRF token to JS
        var getClientListUrl = "{% url 'web:clients:list-api' %}";  // Pass the URL to JS
        var getReferralsListUrl = "{% url 'web:referrals:short-list-api' %}";  // Pass the URL to JS
        var getProcedureTypeList = "{% url 'web:procedures:type-list-api' %}";  // Pass the URL to JS
        var getBillingDataUrl = "{% url 'web:procedures:get-payment-data-api' %}";  // Pass the URL to JS
        var createProcedureUrl = "{% url 'web:procedures:create' %}";  // Pass the URL to JS
        var updateProcedureUrl = "{% url 'web:procedures:update' 22 %}";  // Pass the URL to JS
    </script>
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendors/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'vendors/inputmask/inputmask.min.js' %}"></script>
    <script src="{% static 'assets/js/custom/procedures/list.js' %}"></script>
    <script src="{% static 'assets/js/custom/utils/price-utils.js' %}"></script>
    <script src="{% static 'assets/js/custom/procedures/create.js' %}"></script>
    <script src="{% static 'assets/js/custom/base/get_client_select.js' %}"></script>
    <script src="{% static 'assets/js/custom/base/datepicker.js' %}"></script>
{% endblock %}