{% extends 'base.html' %}
{% load static %}
{% block title %}Asosiy saxifa.{% endblock %}
{% block style %}
    <script src="{% static 'vendors/select2/select2.min.css' %}"></script>
    <script src="{% static 'vendors/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css' %}"></script>
    <style>
        .container {
            width: 80%;
            margin: auto;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        h3, h4 {
            margin-top: 1.5rem;
        }

        input[type="number"], select, textarea {
            width: 100%;
            padding: 0.5rem;
            margin-top: 0.5rem;
        }

        .btn {
            display: inline-block;
            padding: 0.75rem 1.5rem;
            margin-top: 1rem;
        }

        .procedure-items, .expense-items {
            border: 1px solid #ccc;
            padding: 1rem;
            margin-top: 1.5rem;
        }

        .add-procedure-item, .add-expense-item {
            margin-top: 1rem;
        }

    </style>
{% endblock %}
{% block main %}
    

{% endblock %}
{% block script %}
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendors/select2/select2.full.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            // Add more Procedure Items
            $('.add-procedure-item').click(function () {
                let newProcedureItem = $('#procedure-item-1').clone();
                newProcedureItem.attr('id', 'procedure-item-' + ($('.procedure-item').length + 1));
                $('.procedure-items').append(newProcedureItem);
            });

            // Add more Expense Items
            $('.add-expense-item').click(function () {
                let newExpenseItem = $('#expense-item-1').clone();
                newExpenseItem.attr('id', 'expense-item-' + ($('.expense-item').length + 1));
                $(this).before(newExpenseItem);
            });
        });
    </script>

{% endblock %}