{% load static %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} border-0 d-flex align-items-center" role="alert">
            <div class="bg-{{ message.tags }} me-3 icon-item">
                <span class="fas fa-check-circle text-white fs-6"></span>
            </div>
            <p class="mb-0 flex-1">{{ message }}</p>
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
