{% load static %}
<nav class="navbar navbar-light navbar-vertical navbar-expand-xl navbar-vibrant">
    <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">
            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip"
                    data-bs-placement="left" aria-label="Toggle Navigation"
                    data-bs-original-title="Toggle Navigation">
                <span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
            </button>
        </div>
        <a class="navbar-brand" href="{% url 'web:home' %}">
            <div class="d-flex align-items-center py-3">
                <img class="me-2" src="{% static 'assets/img/icons/spot-illustrations/falcon.png' %}" alt="" width="40">
                <span class="font-sans-serif text-primary">sevinch</span>
            </div>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content scrollbar">
            <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web:clients:list' %}" role="button">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="fas fa-user-friends"></span>
                            </span>
                            <span class="nav-link-text ps-1">Shifokor ko'rigi</span>
                        </div>
                    </a>
                    <a class="nav-link" href="{% url 'web:procedures:list' %}" role="button">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="far fa-file-alt"></span>
                            </span>
                            <span class="nav-link-text ps-1">Registratsiya</span>
                        </div>
                    </a>
                    <a class="nav-link" href="{% url 'web:referrals:list' %}" role="button">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="fas fa-hospital-user"></span>
                            </span>
                            <span class="nav-link-text ps-1">Hamkor shifokorlar</span>
                        </div>
                    </a>
                    <a class="nav-link" href="{% url 'web:transfers:list' %}" role="button">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="bi-cash-stack"></span>
                            </span>
                            <span class="nav-link-text ps-1">Kirim chiqimlar</span>
                        </div>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>