{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr">

<head>
    {% include 'parts/head.html' %}
    <!-- ===============================================--><!--    Document Title-->
    <title>{% block title %} {% endblock %}</title>
    <!-- ===============================================-->

    {% block style %}

    {% endblock %}
</head>

<body>
<!-- ===============================================--><!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid" data-layout="container">
{#        <script>#}
{#            var isFluid = JSON.parse(localStorage.getItem('isFluid'));#}
{#            if (isFluid) {#}
{#                var container = document.querySelector('[data-layout]');#}
{#                container.classList.remove('container');#}
{#                container.classList.add('container-fluid');#}
{#            }#}
{#        </script>#}
        {% include 'parts/sidebar.html' %}
        <div class="content">
            {% include 'parts/header.html' %}
          
            {% block main %}

            {% endblock %}
            {% include 'parts/footer.html' %}
        </div>
    </div>
</main><!-- ===============================================--><!--    End of Main Content-->
<!-- ===============================================-->
<!-- ===============================================--><!--    JavaScripts-->
{% include 'parts/scripts.html' %}
{% block script %}

{% endblock %}
</body>

</html>