{% extends 'base.html' %}
{% load static %}
{% block title %}Asosiy saxifa.{% endblock %}
{% block style %}


    <script src="{% static 'vendors/select2/select2.min.css' %}"></script>
    <script src="{% static 'vendors/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css' %}"></script>
{% endblock %}
{% block main %}
{% endblock %}
{% block script %}

    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendors/select2/select2.full.min.js' %}"></script>
{% endblock %}